In [12]:
import numpy,pandas as pd,matplotlib,seaborn

In [5]:
os.getcwd()

'c:\\Users\\krish\\Health-insurance-premium-prediction-ML-internship\\notebook'

In [8]:
os.chdir("c:\\Users\\krish\\Health-insurance-premium-prediction-ML-internship\\notebook")

In [9]:
os.getcwd()

'c:\\Users\\krish\\Health-insurance-premium-prediction-ML-internship\\notebook'

In [15]:
df= pd.read_csv("c:\\Users\\krish\\Health-insurance-premium-prediction-ML-internship\\dataset\\insurance.csv", sep=",")

In [16]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [20]:
df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)